In [347]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../input"))

FileNotFoundError: [Errno 2] No such file or directory: '../input'

In [348]:
#data = pd.read_csv('../input/imbd-sf/data.csv')
data=pd.read_csv('/Users/ioksana/Desktop/Machine Learning/RealDSMill/data_u1_rds.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [349]:
len(data)

1890

# Предобработка датасета

In [350]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [351]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_1=data[(data.budget==data.budget.max())].original_title.tolist()[0]
answer_ls.append(answer_1)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [352]:
answer_2=data[(data.runtime==data.runtime.max())].original_title.tolist()[0]
answer_ls.append(answer_2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [353]:
answer_3=data[(data.runtime==data.runtime.min())].original_title.tolist()[0]
answer_ls.append(answer_3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [354]:
answer_4=data.runtime.mean()
checklist = [115,110,105,120,100]
delta = max(checklist) * 10
t_answer = answer_4
for i in checklist:
    t_delta = abs(i - answer_4)
    if t_delta < delta:
        delta = t_delta
        t_answer = i
answer_4 = t_answer
answer_ls.append(answer_4)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [355]:
answer_5=data.runtime.median()
checklist = [106,112,101,120,115]
delta = max(checklist) * 10
t_answer = answer_5
for i in checklist:
    t_delta = abs(i - answer_5)
    if t_delta < delta:
        delta = t_delta
        t_answer = i
answer_5 = t_answer
answer_ls.append(answer_5)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [356]:
answer_6=data[(data.revenue-data.budget)==(data.revenue-data.budget).max()].original_title.tolist()[0]
answer_ls.append(answer_6)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [357]:
answer_7=data[(data.revenue-data.budget)==(data.revenue-data.budget).min()].original_title.tolist()[0]
answer_ls.append(answer_7)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [358]:
answer_8=len(data[(data.revenue-data.budget)>0].index)
answer_ls.append(answer_8)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [359]:
data_2008=data[data.release_year ==2008]
answer_9=data_2008[data_2008.revenue==data_2008.revenue.max()].original_title.tolist()[0]
answer_ls.append(answer_9)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [360]:
data_1214=data.query('release_year>=2012 and release_year<=2014')
answer_10=data_1214[(data_1214.revenue-data_1214.budget)==(data_1214.revenue-data_1214.budget).min()].original_title.tolist()[0]
answer_ls.append(answer_10)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [361]:
genres = data.genres.str.split('|', expand=True)
genre = []
for i in range(len(genres.columns)):
    genre.append(genres[i])
result = pd.concat(genre).value_counts()
answer_11=result[result==result.max()].index[0]
answer_ls.append(answer_11)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [362]:
profit=data[(data.revenue-data.budget)>0]
genres_pr= profit.genres.str.split('|', expand=True)
genre_pr = []
for i in range(len(genres_pr.columns)):
    genre_pr.append(genres_pr[i])
result_pr = pd.concat(genre_pr).value_counts()
answer_12=result_pr[result_pr==result_pr.max()].index[0]
answer_ls.append(answer_12)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [363]:
direct=data.director.value_counts()
answer_13=direct[direct==direct.max()].index[0]
answer_ls.append(answer_13)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [364]:
temp_pr=profit.director.value_counts()
answer_14=temp_pr[temp_pr==temp_pr.max()].index[0]
answer_ls.append(answer_14)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [365]:
profit_dir=data.groupby(['director']).sum()
answer_15=profit_dir[(profit_dir.revenue-profit_dir.budget)==(profit_dir.revenue-profit_dir.budget).max()].index[0]
answer_ls.append(answer_15)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [366]:
cast = data.cast.str.split('|', expand=True)
prof=data.revenue-data.budget
profs = []
casts = []
for i in range(0,len(cast.columns)):
    profs.append(prof)
    casts.append(cast[i])
actors = pd.concat([pd.concat(profs), pd.concat(casts)], axis=1).groupby(1).agg('sum')
answer_16=actors[0].idxmax()
answer_ls.append(answer_16)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [367]:
data_2012 = data.loc[data['release_year'] == 2012]
cast = data_2012.cast.str.split('|', expand=True)
prof=data_2012.revenue-data_2012.budget
profs = []
casts = []
for i in range(0,len(cast.columns)):
    profs.append(prof)
    casts.append(cast[i])
actors = pd.concat([pd.concat(profs), pd.concat(casts)], axis=1).groupby(1).agg('sum')
answer_17=actors[0].idxmin()
answer_ls.append(answer_17)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [368]:
med_budget = data.budget.mean()
high_budget_data = data[data.budget > med_budget]
cast = high_budget_data.cast.str.split('|', expand=True)
casts = []
for i in range(0,len(cast.columns)):
    casts.append(cast[i])
actors = pd.concat(casts).to_frame()
actors['counter'] = 1
res = actors.groupby(by=0).agg('sum')
answer_18=res['counter'].idxmax()
answer_ls.append(answer_18)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [369]:
cage = data[data.cast.str.contains('Nicolas Cage')]
cage_genre = cage.genres.str.split('|', expand=True)
cage_genres = []
for i in range(0,len(cage_genre.columns)):
    cage_genres.append(cage_genre[i])
cg = pd.concat(cage_genres).to_frame()
cg['counter'] = 1
res = cg.groupby(by=0).agg('sum')
answer_19=res['counter'].idxmax()
answer_ls.append(answer_19)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [370]:
studio = data.production_companies.str.split('|', expand=True)
studios = []
for i in range(0,len(studio.columns)):
    studios.append(studio[i])
stud = pd.concat(studios).to_frame().dropna()
stud = stud[0].str.split(' ', expand = True)[0].to_frame()
stud['counter'] = 1
res = stud.groupby(by=0).agg('sum')
answer_20=res['counter'].idxmax()
answer_ls.append(answer_20)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [371]:
data_2015 = data.loc[data['release_year'] == 2015]
studio = data_2015.production_companies.str.split('|', expand=True)
studios = []
for i in range(0,len(studio.columns)):
    studios.append(studio[i])
stud = pd.concat(studios).to_frame().dropna()
#stud = stud[0].str.split(' ', expand = True)[0].to_frame()
stud['counter'] = 1
res = stud.groupby(by=0).agg('sum')
answer_21=res['counter'].idxmax()
answer_ls.append(answer_21)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [372]:
#тут лезут варнинги, не смогла победить(())
comedy_data = data[data.genres.str.contains('Comedy')]
prof = comedy_data.revenue-comedy_data.budget
comedy_data.loc[ :,'Profit'] = prof

comedy_studios = comedy_data.production_companies.str.split('|', expand=True).melt().dropna().value.unique()

studios_profit = {}
studios_profit['Universal'] = 0
studios_profit['Warner'] = 0

for s in comedy_studios:
    if 'Universal' in s:
        studios_profit['Universal'] += comedy_data[comedy_data.production_companies.str.contains(s)].Profit.sum()
    elif 'Warner' in s:
        studios_profit['Warner'] += comedy_data[comedy_data.production_companies.str.contains(s)].Profit.sum()
    else:
        studios_profit[s] = comedy_data[comedy_data.production_companies.str.contains(s)].Profit.sum()
answer_22=[k for k, v in studios_profit.items() if v == max(studios_profit.values())][0]
answer_ls.append(answer_22)

/Users/ioksana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
/Users/ioksana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
/Users/ioksana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
/Users/ioksana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
/Users/ioksana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
/Users/ioksana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
/Users/ioksana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
/Users/ioksana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
/Users/ioksana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
/Users/ioksana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
/Users/ioksana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
/Users/ioksana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
/Users/ioksana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  app.launch_new_instance()
/Users/ioksana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [373]:
#и тут непобежденные варнинги
data_2012 = data.loc[data['release_year'] == 2012]
prof = data_2012.revenue-data_2012.budget
data_2012.loc[ :,'Profit'] = prof
studios_2012 = data_2012.production_companies.str.split('|', expand=True).melt().dropna().value.unique()
studios_profit = {}
studios_profit['Universal'] = 0
studios_profit['Warner'] = 0

for s in studios_2012:
    if 'Universal' in s:
        studios_profit['Universal'] += data_2012[data_2012.production_companies.str.contains(s)].Profit.sum()
    elif 'Warner' in s:
        studios_profit['Warner'] += data_2012[data_2012.production_companies.str.contains(s)].Profit.sum()
    else:
        studios_profit[s] = data_2012[data_2012.production_companies.str.contains(s)].Profit.sum()
answer_23=[k for k, v in studios_profit.items() if v == max(studios_profit.values())][0]
answer_ls.append(answer_23)

/Users/ioksana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  app.launch_new_instance()
/Users/ioksana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  app.launch_new_instance()
/Users/ioksana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  app.launch_new_instance()

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [374]:
ParPict_data = data[data.production_companies.str.contains('Paramount Pictures')]
ParPict_data.loc[ :,'Profit'] = ParPict_data.revenue - ParPict_data.budget
answer_24=ParPict_data[ParPict_data.Profit == ParPict_data.Profit.min()].original_title.tolist()[0]
answer_ls.append(answer_24)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [375]:
data.loc[ :,'Profit'] = data.revenue - data.budget
agr = data.groupby(by='release_year').agg('sum').Profit.to_frame()
answer_25=agr[agr.Profit == agr.Profit.max()].index[0]
answer_ls.append(answer_25)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [376]:
WarBros_data = data[data.production_companies.str.contains('Warner')]
agr = WarBros_data.groupby(by='release_year').agg('sum').Profit.to_frame()
res = agr[agr.Profit == agr.Profit.max()].index[0]
answer_26=res
answer_ls.append(answer_26)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [377]:
month_fr = data.release_date.str.split('/', expand = True)[0].to_frame()
month_text = ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь']
month_fr['counter'] = 1
answer_27=month_text[int((month_fr.groupby(by=0).agg('sum').idxmax()[0])) - 1]
answer_ls.append(answer_27)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [378]:
month_fr = data.release_date.str.split('/', expand = True)[0].to_frame()
month_fr['counter'] = 1
tmp = month_fr.groupby(by=0).agg('sum')
answer_28=int(tmp.loc['6']) + int(tmp.loc['7']) + int(tmp.loc['8'])
answer_ls.append(answer_28)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [379]:
data_wm = data
data_wm['Month'] = data.release_date.str.split('/', expand = True)[0]
data_winter = pd.concat([data_wm[data_wm.Month == '1'], data_wm[data_wm.Month == '2'], data_wm[data_wm.Month == '12']])
res = data_winter.director.to_frame()
res['counter'] = 1
answer_29=res.groupby(by='director').agg('sum').idxmax()[0]
answer_ls.append(answer_29)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [380]:
df_wm = data
df_wm['Month'] = data.release_date.str.split('/', expand = True)[0]
month_text = ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь']
m = []
m_means = []
for i in range(1,13):
    m.append(data_wm[data_wm.Month == str(i)])
    m_means.append(m[i-1]['Profit'].mean())
answer_30=month_text[m_means.index(max(m_means))]
answer_ls.append(answer_30)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [381]:
studios = data.production_companies.str.split('|', expand=True).melt().value.dropna().unique()
data_temp = data
data_temp['title'] = data.original_title
data_temp['title_len'] = data.original_title.str.len()

studios_stat = {e: [] for e in studios}
for i in range(len(data_temp.index)):
    for s in studios:
        if s in data_temp.loc[i,'production_companies']:
            studios_stat[s].append(data_temp.loc[i,'title_len'])

for s in studios:
    studios_stat[s] = pd.Series(studios_stat[s]).mean()
answer_31=[k for k, v in studios_stat.items() if v == max(studios_stat.values())][0]
answer_ls.append(answer_31)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [382]:
studios = data.production_companies.str.split('|', expand=True).melt().value.dropna().unique()
data_temp = data
data_temp['title'] = data.original_title
data_temp['title_len'] = data.original_title.str.split(' ', expand = False).str.len()

studios_stat = {e: [] for e in studios}
for i in range(len(data_temp.index)):
    for s in studios:
        if s in data_temp.loc[i,'production_companies']:
            studios_stat[s].append(data_temp.loc[i,'title_len'])

for s in studios:
    studios_stat[s] = pd.Series(studios_stat[s]).mean()
answer_32=[k for k, v in studios_stat.items() if v == max(studios_stat.values())][0]
answer_ls.append(answer_32)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [383]:
def slash_str(s):
    res = ''
    rem = ['&']#,':',',',';','-','!','?','.','0','1','2','3','4','5','6','7','8','9']
    #Кажется правильным будет использовать весь ряд rem, потому что пунктуация и цифры не являются словами. 
    #Но судя по ответу теста - слова считаются с : либо ! в конце и числа как отдельные слова
    for i in range(len(s)):
        if s[i] not in rem:
            res = res + s[i]
    return res

all_words = data.original_title.str.split(' ',expand = True).melt().value.dropna().tolist()
for w in all_words:
    all_words[all_words.index(w)] = slash_str(w.lower())
answer_33=len(set(all_words))
answer_ls.append(answer_33)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [384]:
data_top_rated = data.sort_values(by='vote_average', ascending = False).head(int(len(data.index)*0.01))
top_list = data_top_rated.original_title.tolist()
checklist = [['Inside Out', 'Gone Girl', '12 Years a Slave'],
             ['BloodRayne', 'The Adventures of Rocky and Bullwinkle'],
             ['The Lord of the Rings: The Return of the King', 'Upside Down'],
             ['300', 'Lucky Number Slevin'],
             ['Upside Down', '300', 'Inside Out', 'The Lord of the Rings: The Return of the King']]
for entity in checklist:
    flag = True
    for l in entity:
        if l not in top_list:
            flag = False
            break
    if flag:
        answer_34_list = entity
answer_34 = ''
for i in answer_34_list:
    answer_34 = answer_34 + ',' + i
answer_34 = answer_34[1:len(answer_34)]
answer_ls.append(answer_34)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [385]:
#
title_casts = pd.DataFrame({'title': data.original_title})
title_casts = pd.concat([title_casts, data.cast.str.split('|', expand = True)], axis = 1)
cast_index = data.cast.str.split('|', expand = True).melt().dropna().value.unique().tolist()

casts_link_frequency = pd.DataFrame(index = cast_index)
for i in cast_index:
    casts_link_frequency[str(i)] = 0

for i in range(0,len(title_casts.index)):
    for j in range(0,5):
        for q in range(j,5):
            if title_casts.loc[i, j] == None or title_casts.loc[i, q] == None:
                continue
            if str(title_casts.loc[i, j]) != str(title_casts.loc[i, q]):
                casts_link_frequency.loc[str(title_casts.loc[i, j]),str(title_casts.loc[i, q])] += 1

maximum = casts_link_frequency.max().max()

answer_list = []
for i in cast_index: #потому что максимумов несколько, и мы выберем тот который есть в вопросе
    for j in cast_index:
        if casts_link_frequency.loc[i, j] == maximum:
            answer_list.append(i + ' & ' + j)
            
checklist = ['Johnny Depp & Helena Bonham Carte', 'Hugh Jackman & Ian McKelle', 
             'Vin Diesel & Paul Walker', 'Adam Sandler & Kevin James', 'Daniel Radcliffe & Rupert Grint']
for answer_35 in answer_list:
    if answer_35 in checklist:
        answer_ls.append(answer_35)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [386]:
data['Profit'] = data.revenue - data.budget
data_profitable = data[data.Profit > 0]
res = data_profitable.director.str.split('|', expand = True).melt().dropna().value.to_frame()
res['profitable'] = 1
res = res.groupby(by='value').agg('sum')

#если процент от количества фильмов этого режисера
res2 = data.director.str.split('|', expand = True).melt().dropna().value.to_frame()
res2['overall'] = 1
res2 = res2.groupby(by='value').agg('sum')
res['overall'] = res2.overall

#если процент от всего фильмов в датасете
#res['overall'] = len(df.index)
res['percent'] = (res.profitable/res.overall)*100
#display(res.sort_values(by='percent', ascending = False))

#много режисеров у которых 100% прибыльных, поэтому смотрим по списку из вопроса кто подойдет. 
#Из этого списка только 1 в итоге имеет 100%-ю прибыльность
checklist = ['Quentin Tarantino', 'Steven Soderbergh','Robert Rodrigue','Christopher Nolan','Clint Eastwood']
answer_36=res.loc[checklist].sort_values(by='percent', ascending = False).index[0]
answer_ls.append(answer_36)

/Users/ioksana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

# Submission

In [387]:
print(len(answer_ls))

36

In [388]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id                                 Answer
0    1                      The Warrior's Way
1    2                      Gods and Generals
2    3                        Winnie the Pooh
3    4                                    110
4    5                                    106
5    6                                 Avatar
6    7                      The Warrior's Way
7    8                                   1478
8    9                        The Dark Knight
9   10                        The Lone Ranger
10  11                                  Drama
11  12                                  Drama
12  13                      Steven Soderbergh
13  14                           Ridley Scott
14  15                          Peter Jackson
15  16                            Emma Watson
16  17                          Kirsten Dunst
17  18                             Matt Damon
18  19                                 Action
19  20                                 Warner
20  21                           Warner Bros.
21  22                              Universal
22  23                      Columbia Pictures
23  24                   K-19: The Widowmaker
24  25                                   2015
25  26                                   2014
26  27                               Сентябрь
27  28                                    450
28  29                          Peter Jackson
29  30                                   Июнь
30  31                Four By Two Productions
31  32                Four By Two Productions
32  33                                   2461
33  34  Inside Out,Gone Girl,12 Years a Slave
34  35        Daniel Radcliffe & Rupert Grint
35  36                      Christopher Nolan